.database {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
.list {
  width: 30%;
  margin: 3px;
  border-style: solid;
  height: 70vh;
}

.detail {
  width: 70%;
  margin: 3px;
  border-style: solid;
  background-color: aquamarine;
}

.header {
  text-align: center;
  margin: 2px;
  max-width: 100%;
}

.desc {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
.desc > icon {
  height: 20px;
  width: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  border-style: dotted;
  margin: 6px;
  width: 80%;
  padding: 1px;
}

.add-employee {
  display: flex;
  justify-content: right;
  margin: 4px;
}

.add-employee > button {
  pointer: cursor;
}
